$dark: #242424;
$semidark: rgb(109, 109, 109);
$medium: rgb(146, 146, 146);
$semilight: rgb(209, 208, 208);
$light: #ededed;

$default_foreground: $light;
$default_background: $dark;

$selected_foreground: #6900cc;
$selected_background: $dark;

$border_color_1: $medium;
$border_color_2: $semidark;
